<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GroundStation.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="GroundStation.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib;libs" />
    </assemblyBinding>
  </runtime>
	<appSettings>
		<add key="enableGpsPin1" value="true"/>
		<add key="enableGpsPin2" value="true"/>
	</appSettings>
 <userSettings>
  <GroundStation.Settings>
   <setting name="modAngleX" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="modAngleY" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="modAngleZ" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="satIP" serializeAs="String">
    <value>notset</value>
   </setting>
  </GroundStation.Settings>
  <GroundStation.Settings1>
   <setting name="modAngleX" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="modAngleY" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="modAngleZ" serializeAs="String">
    <value>0</value>
   </setting>
  </GroundStation.Settings1>
 </userSettings>
</configuration>