<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib;libs" />
    </assemblyBinding>
  </runtime>
	<appSettings>
		<add key="enableGpsPin1" value="true"/>
		<add key="enableGpsPin2" value="true"/>
	</appSettings>
</configuration>